{% extends 'dashboard_base.html' %}
{% load static %}
    {% block title %}
       {{title}}
    {% endblock %}

    {% block breadcrumb_right_sidebar %}
    {% include 'breadcrumb_right_sidebar.html' %}
    {% endblock breadcrumb_right_sidebar %}

        {% block content %}
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-xl px-4 mt-4">
                <hr class="mt-0 mb-4">
                <div class="row">

                        <div class="card mb-4">
                            <div class="card-header">Job Deatils</div>
                            <div class="card-body">
                                <form method="post" action="{% url 'listings:post-job' %}"  enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <!--job|title:type START-->
                                    <div class="row gx-3 mb-3">
                                        <!--title starts-->
                                        <div class="col-md-8">
                                            <label class="small mb-1" for="inputJobTitle">Job Title</label>
                                            <input class="form-control" name="title" id="inputJobTitle" type="text"
                                                placeholder="Enter your job title" value="">
                                        </div>
                                        <!--title end-->

                                        <!--type starts-->
                                        <div class="col-md-4">
                                            <label class="form-label">Job Type</label>
                                            <select class="select2 form-control select2-hidden-accessible" name="type" data-select2-placeholder="Select state" data-select2-id="select2-data-4-680y" tabindex="-1" aria-hidden="true">
                                              {% for job_type in job_types  %}
                                              <option value="{{job_type}}">{{job_type}}</option>
                                              {% endfor %}
                                            </select><span class="select2 select2-container select2-container--bootstrap-5" dir="ltr" data-select2-id="select2-data-5-np4c" style="width: 391px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-2fn7-container" aria-controls="select2-2fn7-container"><span class="select2-selection__rendered" id="select2-2fn7-container" role="textbox" aria-readonly="true" title="Select state"><span class="select2-selection__placeholder">Select job type</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                        <!-- title ends-->
                                    </div>
                                    <!--job|title:type END-->
                                    
                                    {% if employer.company_type == 'Direct Employer' %}
                                        {% comment %} <!--company|name:email START-->
                                        <div class="row gx-3 mb-3">
                                            <!--company name -->
                                            <div class="col-md-8">
                                                <label class="small mb-1" for="inputCompanyName">Company Name</label>
                                                <input class="form-control" name="company_name" id="inputCompanyName" type="text"
                                                    placeholder="Enter your company name" value="{{employer.company_name}}" readonly>
                                            </div>
                                           

                                            <!--company email-->
                                            <div class="col-md-4">
                                                <label class="small mb-1" for="inputBirthday">Email</label>
                                                <input class="form-control" id="inputBirthday" type="email" name="email"
                                                    placeholder="Enter your company email" value="{{employer.user_id.email}}" readonly>
                                            </div>

                                        </div>
                                        <!--company|name:email END-->

                                        <!--company|description START-->
                                        <div class="mb-3">
                                            <label class="small mb-1" for="inputEmailAddress">Company Description</label>
                                            <textarea class="form-control" name="company_description" readonly rows="5" >{{employer.company_description}}</textarea>
                                        </div>
                                        <!--company|description END--> {% endcomment %}
                                       
                                        <!--Company Address|Location|Country START-->
                                        <div class="row gx-3 mb-3">
            
                                            <div class="col-md-6">
                                                <label class="small mb-1" for="inputOrgName">Address</label>
                                                <input class="form-control" name="address" id="inputOrgName" value="{{employer.address}}" type="text"
                                                    placeholder="Enter your company address" value="San Francisco, CA">
                                            </div>
            
                                            <div class="col-md-3">
                                                <label class="form-label">State</label>
                                                <select class="select2 form-control select2-hidden-accessible" name="location" data-select2-placeholder="Select state" data-select2-id="select2-data-4-680y" tabindex="-1" aria-hidden="true">
                                                    {% if employer.location %}
                                                    <option data-select2-id="select2-data-6-cshs">{{employer.location}}</option>
                                                    {% endif %}
                                                {% for location in locations %}
                                                <option value="{{location}}">{{location}}</option>
                                                {% endfor %}
                                                
                                                </select><span class="select2 select2-container select2-container--bootstrap-5" dir="ltr" data-select2-id="select2-data-5-np4c" style="width: 391px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-2fn7-container" aria-controls="select2-2fn7-container"><span class="select2-selection__rendered" id="select2-2fn7-container" role="textbox" aria-readonly="true" title="Select state"><span class="select2-selection__placeholder">Select state</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                            </div>

                                            <div class="col-md-3">
                                                <label class="form-label">Country</label>
                                                <select class="select2 form-control select2-hidden-accessible" name="country" data-select2-placeholder="Select state" data-select2-id="select2-data-4-680y" tabindex="-1" aria-hidden="true">
                                                    {% if employer.country %}
                                                    <option data-select2-id="select2-data-6-cshs">{{employer.country}}</option>
                                                    {% endif %}
                                                {% for country in countries  %}
                                                <option value="{{country}}">{{country}}</option>
                                                {% endfor %}
                                    
                                                </select><span class="select2 select2-container select2-container--bootstrap-5" dir="ltr" data-select2-id="select2-data-5-np4c" style="width: 391px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-2fn7-container" aria-controls="select2-2fn7-container"><span class="select2-selection__rendered" id="select2-2fn7-container" role="textbox" aria-readonly="true" title="Select state"><span class="select2-selection__placeholder">Select country</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                            </div>
                                        </div>
                                        <!--Company Address|Location|Country END-->
                                    {% else %}

                                        <!--company|name:email for others START-->
                                        <div class="row gx-3 mb-3">
            
                                            <div class="col-md-8">
                                                <label class="small mb-1" for="inputCompanyName">Company Name</label>
                                                <input class="form-control" name="company_name" id="inputCompanyName" type="text"
                                                    placeholder="Enter your company name" value="">
                                            </div>

                                            <div class="col-md-4">
                                                <label class="small mb-1" for="inputBirthday">Email</label>
                                                <input class="form-control" id="inputBirthday" type="email" name="email"
                                                    placeholder="Enter your company email" value="">
                                            </div>

                                        </div>
                                        <!--company|name:email for others END-->

                                        <!--company description START-->
                                        <div class="mb-3">
                                            <label class="small mb-1" for="inputEmailAddress">Company Description</label>
                                            <textarea class="form-control" name="company_description" rows="5"></textarea>
                                        </div>
                                        <!--company description END-->
                                        
                                        <!--Company Address|Location|Country START-->
                                        <div class="row gx-3 mb-3">
            
                                            <div class="col-md-6">
                                                <label class="small mb-1" for="inputOrgName">Address</label>
                                                <input class="form-control" name="address" id="inputOrgName" value="" type="text"
                                                    placeholder="Enter your company address" value="San Francisco, CA">
                                            </div>
            
                                            <div class="col-md-3">
                                                <label class="form-label">State</label>
                                                <select class="select2 form-control select2-hidden-accessible" name="location" data-select2-placeholder="Select state" data-select2-id="select2-data-4-680y" tabindex="-1" aria-hidden="true">
                                                {% for location in locations %}
                                                <option value="{{location}}">{{location}}</option>
                                                {% endfor %}
                                                
                                                </select><span class="select2 select2-container select2-container--bootstrap-5" dir="ltr" data-select2-id="select2-data-5-np4c" style="width: 391px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-2fn7-container" aria-controls="select2-2fn7-container"><span class="select2-selection__rendered" id="select2-2fn7-container" role="textbox" aria-readonly="true" title="Select state"><span class="select2-selection__placeholder">Select state</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                            </div>

                                            <div class="col-md-3">
                                                <label class="form-label">Country</label>
                                                <select class="select2 form-control select2-hidden-accessible" name="country" data-select2-placeholder="Select state" data-select2-id="select2-data-4-680y" tabindex="-1" aria-hidden="true">
                                                {% for country in countries  %}
                                                <option value="{{country}}">{{country}}</option>
                                                {% endfor %}
                                                
                                                </select><span class="select2 select2-container select2-container--bootstrap-5" dir="ltr" data-select2-id="select2-data-5-np4c" style="width: 391px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-2fn7-container" aria-controls="select2-2fn7-container"><span class="select2-selection__rendered" id="select2-2fn7-container" role="textbox" aria-readonly="true" title="Select state"><span class="select2-selection__placeholder">Select country</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                            </div>
                                        </div>
                                        <!--Company Address|Location|Country END-->
                                    {% endif %}
                                    <!--Min Max_salary Qualification Experience START-->
                                    <div class="row gx-3 mb-3">

                                        <div class="col-md-3">
                                            <label class="form-label">Qualification</label>
                                            <select class="select2 form-control select2-hidden-accessible"name="qualification" data-select2-placeholder="Select state" data-select2-id="select2-data-4-680y" tabindex="-1" aria-hidden="true">
                                                {% for qualification in qualifications  %}
                                                <option value="{{qualification}}">{{qualification}}</option>
                                                {% endfor %}
                                             
                                            </select><span class="select2 select2-container select2-container--bootstrap-5" dir="ltr" data-select2-id="select2-data-5-np4c" style="width: 391px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-2fn7-container" aria-controls="select2-2fn7-container"><span class="select2-selection__rendered" id="select2-2fn7-container" role="textbox" aria-readonly="true" title="Select state"><span class="select2-selection__placeholder">Select Qualification</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="form-label">Experience</label>
                                            <select class="select2 form-control select2-hidden-accessible" name="experience" data-select2-placeholder="Select state" data-select2-id="select2-data-4-680y" tabindex="-1" aria-hidden="true">
                                                {% for exp in experience  %}
                                                <option value="{{exp}}">{{exp}}</option>
                                                {% endfor %}
                                              
                                            </select><span class="select2 select2-container select2-container--bootstrap-5" dir="ltr" data-select2-id="select2-data-5-np4c" style="width: 391px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-2fn7-container" aria-controls="select2-2fn7-container"><span class="select2-selection__rendered" id="select2-2fn7-container" role="textbox" aria-readonly="true" title="Select state"><span class="select2-selection__placeholder">Select work experience</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
        
                                        <div class="col-md-3">
                                            <label class="small mb-1" for="inputOrgName">Min Salary</label>
                                            <input class="form-control" name="min_salary" id="inputOrgName"  type="text"
                                                placeholder="Maximum salary" value="">
                                        </div>

                                        <div class="col-md-3">
                                            <label class="small mb-1" for="inputOrgName">Max Salary</label>
                                            <input class="form-control" name="max_salary" id="inputOrgName" type="text"
                                                placeholder="Minimum slary" value="">
                                        </div>
        
                                        
                                    </div>
                                    <!--Min Max_salary Qualification Experience END-->
                                    
                                    <!--job description START-->
                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputEmailAddress">Job Description</label>
                                        <textarea class="form-control" name="description" rows="5"></textarea>
                                    </div>

                                     <!--job requirements START-->
                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputEmailAddress">Job Requirements</label>
                                        <textarea class="form-control" name="requirements" rows="5"></textarea>
                                    </div>

                                     <!--methodOfApplication applicationCloseDate START-->
                                    <div class="row gx-3 mb-3">
        
                                        <div class="col-md-6">
                                            <label class="form-label">Method of Application</label>
                                            <select class="select2 form-control select2-hidden-accessible" name="application_mode" data-select2-placeholder="Select state" data-select2-id="select2-data-4-680y" tabindex="-1" aria-hidden="true">
                                                {% for mode in app_modes  %}
                                                <option value="{{mode}}">{{mode}}</option>
                                                {% endfor %}
                            
                                            </select><span class="select2 select2-container select2-container--bootstrap-5" dir="ltr" data-select2-id="select2-data-5-np4c" style="width: 391px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-2fn7-container" aria-controls="select2-2fn7-container"><span class="select2-selection__rendered" id="select2-2fn7-container" role="textbox" aria-readonly="true" title="Select state"><span class="select2-selection__placeholder">Select method of application</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
        
                                        <div class="col-md-6">
                                            <label class="form-label">Application close date</label>
                                            <input id="maximum-salary" name="closed_at" type="date" class="form-control resume">
                                        </div>
                                    </div>

                                    <!--website logo -->
                                    <div class="row gx-3 mb-3">
                                        {% if employer.company_type == 'Direct Employer' %}
                                        {% comment %} <div class="col-md-12">
                                            <label class="form-label">Website</label>
                                            <input class="form-control" name="website" value="{{employer.website}}" type="text">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Company logo</label>
                                            <input class="form-control" name="logo" type="file">
                                        </div> {% endcomment %}
                                        {% else %}
                                        <div class="col-md-12">
                                            <label class="form-label">Website</label>
                                            <input class="form-control" name="website" type="text">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Company logo</label>
                                            <input class="form-control" name="logo" type="file">
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="row gx-3 mb-3">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" id="flexSwitchCheckChecked" type="checkbox" name="published" value="1">
                                            <label class="form-check-label" for="flexSwitchCheckChecked"> Publish</label>
                                        </div>
                                    </div>

                                   
                                    <button class="btn btn-primary" type="submit">Post</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <style type="text/css">

                body {
                    margin-top: 20px;
                    background-color: #f2f6fc;
                    color: #69707a;
                }
        
                .img-account-profile {
                    height: 10rem;
                }
        
                .rounded-circle {
                    border-radius: 50% !important;
                }
        
                .card {
                    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
                }
        
                .card .card-header {
                    font-weight: 500;
                }
        
                .card-header:first-child {
                    border-radius: 0.35rem 0.35rem 0 0;
                }
        
                .card-header {
                    padding: 1rem 1.35rem;
                    margin-bottom: 0;
                    background-color: #7460ee;
                    color: white;
                    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
                }
        
                .form-control,
                .dataTable-input {
                    display: block;
                    width: 100%;
                    padding: 0.875rem 1.125rem;
                    font-size: 0.875rem;
                    font-weight: 400;
                    line-height: 1;
                    color: #69707a;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #c5ccd6;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border-radius: 0.35rem;
                    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                }
        
                .nav-borders .nav-link.active {
                    color: #0061f2;
                    border-bottom-color: #0061f2;
                }
        
                .nav-borders .nav-link {
                    color: #69707a;
                    border-bottom-width: 0.125rem;
                    border-bottom-style: solid;
                    border-bottom-color: transparent;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    padding-left: 0;
                    padding-right: 0;
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
            </style>
            <script type="text/javascript">
        
            </script>

            <!-- ============================================================== -->
            <!-- End Container fluid  -->
        {% endblock %}