{% extends 'dashboard_base.html' %}
{% load static %}
    {% block title %}
        initiate-payment
    {% endblock %}

    {% block breadcrumb_right_sidebar %}
    <div class="col-5">
        <h4 class="page-title"></h4>
        <div class="d-flex align-items-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'accounts:employer-home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'accounts:employer-billing' %}">Billings</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Initiate payment</li>
                </ol>
            </nav>
        </div>
    </div>
    {% endblock breadcrumb_right_sidebar %}

        {% block content %}
            
            <!-- ============================================================== -->
            <div class="container-xl px-4 mt-4">

               
                <hr class="mt-0 mb-4">
                <div class="row">
                    
                    <div class="col-xl-8">

                        <div class="card mb-4">
                            <div class="card-header" style="color:white;text-align: center;">Fund Your JobFinder Wallet</div>
                            
                            <div class="card-body">
                            
                                <form method="POST" action="."  enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <!-- Pay Option -->
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-6">
                                            <label class="form-label">How much do you want to deposit? <i>One job position costs ₦5,000</i></label>
                                           {{payment_form.as_p}}
                                        </div>
                                    </div>

                                    <button class="btn btn-primary ti-angle-double-right" type="submit">Proceed</button>
                                    <b></b>
                                    <p>Note: You can pay online, via transfer or bank deposit</p>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <style type="text/css">

                body {
                    margin-top: 20px;
                    background-color: #f2f6fc;
                    color: #69707a;
                }
        
                .img-account-profile {
                    height: 10rem;
                }
        
                .rounded-circle {
                    border-radius: 50% !important;
                }
        
                .card {
                    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
                }
        
                .card .card-header {
                    font-weight: 500;
                }
        
                .card-header:first-child {
                    border-radius: 0.35rem 0.35rem 0 0;
                }
        
                .card-header {
                    padding: 1rem 1.35rem;
                    margin-bottom: 0;
                    background-color: #7460ee;
                    color: white;
                    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
                }
        
                .form-control,
                .dataTable-input {
                    display: block;
                    width: 100%;
                    padding: 0.875rem 1.125rem;
                    font-size: 0.875rem;
                    font-weight: 400;
                    line-height: 1;
                    color: #69707a;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #c5ccd6;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border-radius: 0.35rem;
                    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                }
        
                .nav-borders .nav-link.active {
                    color: #0061f2;
                    border-bottom-color: #0061f2;
                }
        
                .nav-borders .nav-link {
                    color: #69707a;
                    border-bottom-width: 0.125rem;
                    border-bottom-style: solid;
                    border-bottom-color: transparent;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    padding-left: 0;
                    padding-right: 0;
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
            </style>
            <script type="text/javascript">
        
            </script>

            <!-- ============================================================== -->
            <!-- End Container fluid  -->
        {% endblock %}