{% extends 'dashboard_base.html' %}
{% load static %}
    {% block title %}
       {{title}}
    {% endblock %}

    {% block breadcrumb_right_sidebar %}
    <div class="col-5">
       
    </div>
    {% endblock breadcrumb_right_sidebar %}

        {% block content %}

            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-xl px-4 mt-4">

               
                <hr class="mt-0 mb-4">
                <div class="row">
                    
                    <div class="col-xl-8">

                        <div class="card mb-4">
                            <div class="card-header" style="color:white;background-color:purple;text-align: center;">Fund Your JobFinder Wallet</div>
                            
                            <div class="card-body">
                            
                                <form method="post" action=""  enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <!-- Pay Option -->
                                    
                                    {% comment %} <div class="row gx-3 mb-3">
                                        <div class="col-md-6">
                                            <label class="form-label">How much do you want to deposit? <i>One job position costs ₦5,000</i></label>
                                           
                                            <select class="select2 form-control select2-hidden-accessible"name="amount" data-select2-placeholder="Select state" data-select2-id="select2-data-4-680y" tabindex="-1" aria-hidden="true">
                                                <option value="">Select Amount</option>  
                                                <option value="5000">#5, 000</option>  
                                                <option value="10000">#10,000</option>  
                                                <option value="20000">Pay #20,000 get #30,000</option>  
                                                <option value="30000">Pay #30,000 get #45, 000</option>
                                                <option value="50000">Pay #50, 000 get #75, 000</option>           
                                            </select><span class="select2 select2-container select2-container--bootstrap-5" dir="ltr" data-select2-id="select2-data-5-np4c" style="width: 391px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-2fn7-container" aria-controls="select2-2fn7-container"><span class="select2-selection__rendered" id="select2-2fn7-container" role="textbox" aria-readonly="true" title="Select state"><span class="select2-selection__placeholder">Pay ₦20,000 and above to get 50% bonus</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                               
                                        </div>
                                    </div>
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (first name)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputFirstName">First name</label>
                                            <input class="form-control" id="inputFirstName" name="first_name" type="text" placeholder="" value="{{user.first_name}}" readonly>
                                        </div>
                                        <!-- Form Group (last name)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputLastName">Last name</label>
                                            <input class="form-control" id="inputLastName" name="last_name" type="text" placeholder="Enter your last name" value="{{user.last_name}}" readonly>
                                        </div>
                                    </div>

                                    <!-- Form Row-->
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (birthday)-->
                                        <div class="col-md-12">
                                            <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                        <input class="form-control" id="inputEmailAddress" name="email" type="email" placeholder="Enter your email address" value="{{user.email}}" readonly>
                                        </div>
                                    </div>
                                    <!-- Save changes button--> {% endcomment %}
                                    
                                        {{payment_form}}
                                    <button class="btn btn-primary" type="submit">Next>>></button>
                                    <b></b>
                                    <p>Note: You can pay online, via transfer or bank deposit</p>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <style type="text/css">

                body {
                    margin-top: 20px;
                    background-color: #f2f6fc;
                    color: #69707a;
                }
        
                .img-account-profile {
                    height: 10rem;
                }
        
                .rounded-circle {
                    border-radius: 50% !important;
                }
        
                .card {
                    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
                }
        
                .card .card-header {
                    font-weight: 500;
                }
        
                .card-header:first-child {
                    border-radius: 0.35rem 0.35rem 0 0;
                }
        
                .card-header {
                    padding: 1rem 1.35rem;
                    margin-bottom: 0;
                    background-color: #7460ee;
                    color: white;
                    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
                }
        
                .form-control,
                .dataTable-input {
                    display: block;
                    width: 100%;
                    padding: 0.875rem 1.125rem;
                    font-size: 0.875rem;
                    font-weight: 400;
                    line-height: 1;
                    color: #69707a;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #c5ccd6;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border-radius: 0.35rem;
                    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                }
        
                .nav-borders .nav-link.active {
                    color: #0061f2;
                    border-bottom-color: #0061f2;
                }
        
                .nav-borders .nav-link {
                    color: #69707a;
                    border-bottom-width: 0.125rem;
                    border-bottom-style: solid;
                    border-bottom-color: transparent;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    padding-left: 0;
                    padding-right: 0;
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
            </style>
            <script type="text/javascript">
        
            </script>

            <!-- ============================================================== -->
            <!-- End Container fluid  -->
        {% endblock %}