{% extends 'base.html' %}
{% load static %}
    {% block title %}
    {% if title  %}
    {{title}} 
    {% else %}
    Change-Password
    {% endif %}
    {% endblock %}
{% block content %}
{% include 'accounts_css.html' %}
<div id="footer" >
  <div width="100%" class="footer-newsletter">
     <div width="100%" class="container">
       <div width="100%" class="row justify-content-center">
         <div class="col-lg-6">
           <h4>JobFinder|Reset password</h4>
           <label>Enter the 6-digit code sent to {{email_id}}.</label>
          
           <form action="{% url 'accounts:change-password-action'%}" method="POST">
               {% csrf_token %}
             <div width="100%" id="login-box">
               <div class="left">
                 <h1>Change Password</h1>
                 <input type="hidden" name='email_id' id="email_id" name="email" value={{email_id}} placeholder="E-mail" />
                 <input type="number" name='eToken' id="eToken" onKeyPress="if(this.value.length==6) return false;"  placeholder="Enter the 6-digit code" />
                 <input type="password" name='new_password' id="password" placeholder="Password" />
                 <input type="password" name='confirm_password' id="password" placeholder="Confirm Password" />
                 <button class="social-signin google" type="submit" name='submit'  id="submit" value="Submit"  style="background-color: #106eea;">Change</button>
                 <p style="font-size: 12px;">Remember password?; <a href="{% url 'accounts:login' %}">Login here</a></p>
               </div>
               <div class="right" style="background: linear-gradient(60deg, #d476dd 20%,  #106eea 80.1%); text-align: center;">
                 <div style="margin-top: 130px;">
                   <h2 style="font-size: 25px; color:#fff;">You are welcome!</h2>
                   <p style="font-size: 18px; color:#fff;">Feel free to signup with us</p> 
                 </div>
               </div>
           </form>
         </div>
       </div>
     </div>
   </div>
 </div>
 
{% endblock%}

{% block footer %}
{% endblock footer %}
