{% extends 'base.html' %}
{% load static %}
    {% block title %}
    {{title}} 
    {% endblock %}
{% block content %}
{% include 'accounts_css.html' %}
<div id="footer"  >
    <div width="100%" class="footer-newsletter">
       <div width="100%" class="container">
         <div width="100%" class="row justify-content-center">
           <div class="col-lg-8">
           
             <p>Enter the email address for your JobFinder account below and we will email you a link to reset your password.</p>
             
             <form action="{% url 'accounts:password-recovery-action' %}" method="POST">
              {% csrf_token %}
               <div width="100%" id="login-box">
   <div class="left">
     <p>Enter your email to continue.</p>
     
     <input type="text" name='email_id' id="email_id" placeholder="E-mail" required />
    
 
  <button class="social-signin google" type="submit" name='submit'  id="submit" value="Submit"  style="background-color: #106eea;">Submit</button>
  <p style="font-size: 12px;">Remember password; <a href="{% url 'accounts:login' %}">Login here</a></p>
   </div>
    
   <div class="right" style="background: linear-gradient(60deg, #d476dd 20%,  #106eea 80.1%); text-align: center;">
    <div style="margin-top: 130px;">
       <h2 style="font-size: 25px; color:#fff;">Recover Password</h2>
    
   <!--<p style="font-size: 18px; color:#fff;">Feel free to signup with us</p>-->
    </div>
     
   
 </div>
 
             </form>
           </div>
         </div>
       </div>
     </div>
 </div>
 
{% endblock %}

{% block footer %}
{% endblock footer %}
