{% extends 'dashboard_base.html' %}
{% load static %}
    {% block title %}
    Admin
    {% endblock %}
    {% block breadcrumb_right_sidebar %}
    <div class="col-5">
        <h4 class="page-title">Dashboard</h4>
        <div class="d-flex align-items-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'admin-home' %}">Home</a></li>
                    <li class="breadcrumb-item active" ><a href="{% url 'admin-employers' %}">Employers</a></li>
                    <li class="breadcrumb-item active" ><a href="{% url 'employer-profile' slug=employer.slug%}">Profile</a></li>
                    <li class="breadcrumb-item active" ><a href="{% url 'employer-payments' slug=employer.slug %}">Billings</a></li>
                    <li class="breadcrumb-item active" aria-current="page">verify payment</a></li>
                </ol>
            </nav>
        </div>
    </div>
    {% endblock  %}

        {% block content %}
  
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-xl px-4 mt-8">

                <hr class="mt-0 mb-4">
                <div class="row">
                    <div class="col-lg-2">
                    </div>
            
                    <div class="col-lg-8">

                        <div class="card">
                            <div class="card-header">Payment Preferences</div>
                            <!--<label class="small mb-1" for="inputFirstName">Total post job(s):
                                <span class="label label-rounded label-primary"></span>
                            </label>-->
                            <div class="card-body">
                                <form action="{% url 'verify-payment' ref=payment.ref %}" method="post">
                                    {% csrf_token %}
                                    
                                    <div class="row gx-3 mb-12">
                                        <div class="col-md-12">
                                            <label class="small mb-1" for="inputFirstName">Transaction ID</label>
                                            <input class="form-control" name="first_name" id="inputFirstName" type="text"
                                                placeholder="" value="{{payment.ref}}" readonly>
                                        </div>
                                    </div>
                                    <div class="row gx-3 mb-12">
                                        <div class="col-md-12">
                                            <label class="small mb-1" for="inputFirstName"></label>
                                            <input class="form-control" name="first_name" id="inputFirstName" 
                                                placeholder="- - - -" value="Amount paid : {{payment.amount}}" readonly>
                                        </div>
                                    </div>
                                    <div class="row gx-3 mb-12">
                                        <div class="col-md-12">
                                            <label class="small mb-1" for="inputFirstName">Payment Date: {{payment.created_date}}</label>
                                    
                                        </div>
                                    </div>
                                    
                                    <!-- verifyswitch START-->
                                    {% comment %} <div class="row gx-3 mb-3">
                                        <div class="form-check form-switch">
                                            {% if payment.verified == 0 %}
                                            <input class="form-check-input" id="flexSwitchCheckChecked" type="checkbox" name="verified" value="0" >
                                            {% elif payment.verified == 1 %}
                                            <input class="form-check-input" id="flexSwitchCheckChecked" type="checkbox" name="verified" value="1" checked="">
                                            {% endif %}
                                            <label class="form-check-label" for="flexSwitchCheckChecked">Confirm Payment</label>
                                        </div>
                                    </div> {% endcomment %}
                                    <!-- verfiy switch END-->

                                    {% comment %} verfiy dropdown {% endcomment %}
                                    <div class="row gx-3 mb-12">
                                        <div class="col-md-6">
                                            <label class="form-label">Cofirm payment for:</label>
                                            <select class="select2 form-control select2-hidden-accessible" name="month" required data-select2-placeholder="Select state" data-select2-id="select2-data-4-680y" tabindex="-1" aria-hidden="true" >
                                                    <option value="">select month</option>
                                                    <option value="0">0 month</option>
                                                    <option value="1">1 month</option>
                                                    <option value="2">2 Months</option>
                                                    <option value="3">3 Months</option>
                                                    <option value="4">4 Months</option>
                                                    <option value="5">5 Months</option>
                                                    <option value="6">6 Months</option>
                                                    <option value="7">7 Months</option>
                                                    <option value="8">8 Months</option>
                                                    <option value="9">9 Months</option>
                                                    <option value="10">10 Months</option>
                                                    <option value="11">11 Months</option>
                                                    <option value="12">12 Months</option>
                                                    
                                                    
                                            
                                            </select><span class="select2 select2-container select2-container--bootstrap-5" dir="ltr" data-select2-id="select2-data-5-np4c" style="width: 391px;">
                                                <span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-2fn7-container" aria-controls="select2-2fn7-container">
                                                    <span class="select2-selection__rendered" id="select2-2fn7-container" role="textbox" aria-readonly="true" title="Select state"><span class="select2-selection__placeholder"> </span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">Approve payment</label>
                                            <select class="select2 form-control select2-hidden-accessible" name="verified" data-select2-placeholder="Select state" data-select2-id="select2-data-4-680y" tabindex="-1" aria-hidden="true" required>
                                                {% if payment.payment_by.payment_verified == 1 %}
                                                <option data-select2-id="select2-data-6-cshs" value="1">Approved</option>
                                                {% elif payment.payment_by.payment_verified == 0 %}
                                                <option data-select2-id="select2-data-6-cshs" value="0">No active subscription</option>
                                                {% endif %}
                                                    <option value="0">No active subscription</option>
                                                    <option value="1">Approved</option>
                                                    
                                                    
                                            
                                            </select><span class="select2 select2-container select2-container--bootstrap-5" dir="ltr" data-select2-id="select2-data-5-np4c" style="width: 391px;">
                                                <span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-2fn7-container" aria-controls="select2-2fn7-container"><span class="select2-selection__rendered" id="select2-2fn7-container" role="textbox" aria-readonly="true" title="Select state"><span class="select2-selection__placeholder">Select to approve a payment</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Update</button>
                                </div>
                                  
        
                                    
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                    </div>
                    
                </div>
            </div>
            
            <style type="text/css">

                body {
                    margin-top: 20px;
                    background-color: #f2f6fc;
                    color: #69707a;
                }
        
                .img-account-profile {
                    height: 10rem;
                }
        
                .rounded-circle {
                    border-radius: 50% !important;
                }
        
                .card {
                    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
                }
        
                .card .card-header {
                    font-weight: 500;
                }
        
                .card-header:first-child {
                    border-radius: 0.35rem 0.35rem 0 0;
                }
        
                .card-header {
                    padding: 1rem 1.35rem;
                    margin-bottom: 0;
                    background-color: #7460ee;
                    color: white;
                    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
                }
        
                .form-control,
                .dataTable-input {
                    display: block;
                    width: 100%;
                    padding: 0.875rem 1.125rem;
                    font-size: 0.875rem;
                    font-weight: 400;
                    line-height: 1;
                    color: #69707a;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #c5ccd6;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border-radius: 0.35rem;
                    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                }
        
                .nav-borders .nav-link.active {
                    color: #0061f2;
                    border-bottom-color: #0061f2;
                }
        
                .nav-borders .nav-link {
                    color: #69707a;
                    border-bottom-width: 0.125rem;
                    border-bottom-style: solid;
                    border-bottom-color: transparent;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    padding-left: 0;
                    padding-right: 0;
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
            </style>
            <script type="text/javascript">
        
            </script>

            <!-- ============================================================== -->
            <!-- End Container fluid  -->
        {% endblock %}