{% extends 'dashboard_base.html' %}
{% load static %}
    {% block title %}
        Admin 
    {% endblock %}
    {% block breadcrumb_right_sidebar %}
    <div class="col-5">
        <h4 class="page-title">Dashboard</h4>
        <div class="d-flex align-items-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'admin-home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Users</li>
                </ol>
            </nav>
        </div>
    </div>
    {% endblock  %}


    {% block content %}
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
            
                    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-uppercase mb-0">Manage Users</h5>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table no-wrap user-table mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                                                    <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                                                    <!--<th scope="col" class="border-0 text-uppercase font-medium">Occupation</th>-->
                                                    <th scope="col" class="border-0 text-uppercase font-medium">Contact</th>
                                                    <th scope="col" class="border-0 text-uppercase font-medium">Joined on</th>
                                                    <th scope="col" class="border-0 text-uppercase font-medium">Category</th>
                                                    <th scope="col" class="border-0 text-uppercase font-medium">Manage</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% if users %}
                                                {% for user in users %}
                                                <tr>
                                                    <td class="pl-4">1</td>
                                                    <td>
                                                        <h5 class="font-medium mb-0">{{user.first_name}} {{user.last_name}}</h5>
                                                        <span class="text-muted">{{user.user_type.state}}, {{user.user_type.country }}</span>
                                                    </td>
                                                    <!--<td>
                                                        <span class="text-muted">Visual Designer</span><br>
                                                        <span class="text-muted">Past : teacher</span>
                                                    </td>-->
                                                    <td>
                                                        <span class="text-muted">email:<small>{{user.email}}&#160;</small></span><br>
                                                        <span class="text-muted">username:<small>{{user.username}}&#160;</small></span><br>
                                                        <span class="text-muted">phone:{{user.phone_number}}</span>
                                                    </td>
                                                    <td>
                                                        <span class="text-muted">{{user.created_at|time}}</span><br>
                                                        <span class="text-muted">10: 55 AM</span>
                                                    </td>
                                                    <td>
                                                        <select class="form-control category-select" id="exampleFormControlSelect1">
                                                            {% if user.user_type is 1 %}
                                                            <option>Admin</option>
                                                            {% elif user.user_type is 2 %}
                                                            <option>Employer</option>
                                                            {% elif user.user_type is 3 %}
                                                            <option>Jobseeker</option>
                                                            {% endif %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <button type="button"
                                                            class="btn btn-outline-info btn-circle btn-lg btn-circle"><i
                                                                class="fa fa-key"></i> </button>
                                                        <button type="button"
                                                            class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                                                class="fa fa-trash"></i> </button>
                                                        <button type="button"
                                                            class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                                                class="fa fa-edit"></i> </button>
                                                        <button type="button"
                                                            class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                                                class="fa fa-upload"></i> </button>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                {% endif %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <style type="text/css">
                        body {
                            background: #edf1f5;
                            margin-top: 20px;
                        }
                
                        .card {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            min-width: 0;
                            word-wrap: break-word;
                            background-color: #fff;
                            background-clip: border-box;
                            border: 0 solid transparent;
                            border-radius: 0;
                        }
                
                        .btn-circle.btn-lg,
                        .btn-group-lg>.btn-circle.btn {
                            width: 50px;
                            height: 50px;
                            padding: 14px 15px;
                            font-size: 18px;
                            line-height: 23px;
                        }
                
                        .text-muted {
                            color: #8898aa !important;
                        }
                
                        [type=button]:not(:disabled),
                        [type=reset]:not(:disabled),
                        [type=submit]:not(:disabled),
                        button:not(:disabled) {
                            cursor: pointer;
                        }
                
                        .btn-circle {
                            border-radius: 100%;
                            width: 40px;
                            height: 40px;
                            padding: 10px;
                        }
                
                        .user-table tbody tr .category-select {
                            max-width: 150px;
                            border-radius: 20px;
                        }
                    </style>
                    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                    <script type="text/javascript">
                
                    </script>
                    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        {% for message in messages %}
        {% if message.tags == "error" %}
        swal("Error!", '{{ message }}', "error");
        fire('{{ message }}', "error")
        {% else %}
        swal("Bravo!", '{{ message }}', "success");
        {% endif %}
        {% endfor %}
    </script>
               

            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
    {% endblock %}