{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Themesdesign" />

    <link rel="shortcut icon" href="{% static 'jobya/images/favicon.ico' %}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'jobya/css/bootstrap.min.css' %}" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'jobya/css/materialdesignicons.min.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'jobya/css/selectize.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'jobya/css/nice-select.css' %}" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'jobya/css/style.css' %}"/>

</head>

<body>
    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="double-bounce1"></div>
            </div>
        </div>
    </div>
    <!-- Loader -->
    
    <div class="back-to-home rounded d-none d-sm-block">
        <a href="{% url 'listings:home' %}" class="text-white rounded d-inline-block text-center"><i class="mdi mdi-home"></i></a>
    </div>

    <!-- Hero Start -->
    <section class="vh-100" style="background: url('https://via.placeholder.com/2000X1333//88929f/5a6270C/O https://placeholder.com/') center center;">

        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="login-page bg-white shadow rounded p-4">
                                <div class="text-center">
                                    <h4 class="mb-4">JF-Admin</h4>  
                                </div>
                                <form class="login-form" action="{% url 'admin-reset-password-action' %}" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group position-relative">
                                                <label>Username <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" placeholder="Username" name="username">
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="form-group position-relative">
                                                <label>Password <span class="text-danger">*</span></label>
                                                <input type="password" class="form-control" placeholder="Password" name="password">
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="form-group position-relative">
                                                <label>Confirm Password <span class="text-danger">*</span></label>
                                                <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mb-0">
                                            <button type="submit" class="btn btn-primary w-100">Reset</button>
                                        </div>
                                        
                                    </div>
                                </form>
                            </div><!---->
                        </div> <!--end col-->
                    </div><!--end row-->
                </div> <!--end container-->
            </div>
        </div>
    </section><!--end section-->
    <!-- Hero End -->

    <!-- javascript -->
    <script src="{% static 'jobya/js/jquery.min.js' %}"></script>
    <script src="{% static 'jobya/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'jobya/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'jobya/js/plugins.js' %}"></script>

    <!-- selectize js -->
    <script src="{% static 'jobya/js/selectize.min.js' %}"></script>

    <script src="{% static 'jobya/js/jquery.nice-select.min.js' %}"></script>

    <script src="{% static 'jobya/js/app.js' %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        {% for message in messages %}
        {% if message.tags == "error" %}
        swal("Error!", '{{ message }}', "error");
        fire('{{ message }}', "error")
        {% else %}
        swal("Bravo!", '{{ message }}', "success");
        {% endif %}
        {% endfor %}
    </script>
</body>
</html>