<div class="col-5">
    <h4 class="page-title">Dashboard</h4>
    <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'accounts:employer-home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'accounts:employer-direct-job' %}">Direct Listing</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'accounts:employer-indirect-job' %}">Featured Listing</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'accounts:employer-job-applicants' %}">Applicants</a></li>
            </ol>
        </nav>
    </div>
</div>