{% extends 'base.html' %}
{% load static %}
    {% block title %}
    {{title}}
    {% endblock %}
    {% block main_css %}
    <!-- Template Main CSS File -->
    <link href="{% static 'main/assets/css_recruitments/style.css' %}" rel="stylesheet">
    {% endblock main_css %}
    
{% block content %}
<!-- ======= heroR Section ======= -->
<section id="heroR" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1 style="line-height: 70px; color: #000; font-size: 45px;">Hire Fast-Recruit the best<br> Candidate <span
          style=" color:#000;"> now </span></h1>
      <div style="width: 600px;">
        <h2 style="font-size: 17px; line-height: 25px;color:#000;">We believe in the importance of hiring the right person
          for the job, which is why we take time to understand the needs and expectations of each client before putting
          together an effective team. </h2>
      </div>
  
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">Get Started Now</a>
  
      </div>
    </div>
  </section><!-- End heroR -->
  <main id="main">
  
    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">
        <h3 style="text-align: center;">Why Choose Us For Your <span style="color: #106eea;"> Recruitment Services in
            Nigeria</span></h3>
  
        <div class="row">
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">We Are The Fastest Job Portal</a></h4>
              <p class="description">We provide employers a platform to reach and employ more people by simply posting
                jobs on our website.</p>
            </div>
          </div>
  
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">We Provide Quality Service To Employers</a></h4>
              <p class="description">Our focus is on recruiting and screening qualified candidates, who are ready to work.
                You can be rest assured that all our candidates are properly screened before they are submitted to you for
                consideration.
                <!---With our vast database of candidates, we can help you find the perfect fit for your company.-->
              </p>
            </div>
          </div>
  
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Industry Experience</a></h4>
              <p class="description">With our years of experienced, we provides cost-effective, personalised and quality
                services to Nigerian employers. </p>
            </div>
          </div>
  
  
        </div>
  
      </div>
    </section><!-- End Featured Services Section -->
  
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">
  
        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'main/assets/img_recruit/recruitment-agencies.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
            data-aos-delay="100">
            <h3>Recruitment Company in Lagos Nigeria</h3>
            <p class="fst-italic">
              Job Finder is a recruitment company that helps businesses find the top quality employees they need. We have
              a team of experienced professionals who know how to assess a candidate's skills and qualifications. We also
              use the latest technology to screen candidates so that you can be sure you're getting the best possible pool
              of applicants. our job is simple: connecting great companies to great talents.
            </p>
  
  
          </div>
        </div>
  
  
        <div class="row">
  
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
            data-aos-delay="100">
            <h3>Executive Search and Head Hunting</h3>
            <p class="fst-italic">
              Job Finder's mission is to help companies find the best candidates for their needs. We will provide you with
              a shortlist of top-notch individuals that match your requirements, and we'll guarantee that they are
              available and eager to join your team.
  
  
          </div>
  
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'main/assets/img_recruit/headhunting.jpg' %}" class="img-fluid" alt="">
          </div>
        </div>
  
        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'main/assets/img_recruit/mid-level.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
            data-aos-delay="100">
            <h3>Mid-Level Recruitment</h3>
            <p class="fst-italic">
              Job Finder helps employers find their ideal candidate. We are committed to hiring only the best
              professionals who have relevant experience and skills in various industries, with a focus on mid-level
              positions.
            </p>
  
  
          </div>
        </div>
  
  
        <div class="row">
  
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
            data-aos-delay="100">
            <h3>Graduate Recruitment</h3>
            <p class="fst-italic">
              Our graduate recruitment process includes; candidate outreach, sorting and filtering, assessments and group
              activities and interviews to assure that the best candidates are recruited for your organisation to thrive.
  
  
          </div>
  
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'main/assets/img/graduate.png' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
{% endblock %}